<p>news works!</p>

<div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>
<table class="table table-striped">
    <thead>
    <tr>
      <th>Country</th>
      <th>flag</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let n of mno | filter:searchText">
      <td>{{n.name}}</td>
      <td >
          <img src={{n.flag}} style="width:100px; height:100px;"></td>
      
    </tr>
    </tbody>
  </table>